<div id="footer">
	<p>
	©<span id="footerYear-start"><%- theme.siteStartYear %></span>-<span id="footerYear-end"></span>

	<% if (config.website){ %>
        <a href='<%- config.website %>' target="_blank"><%- config.author %></a>
	<% } else { %>
	    <a href="/"><%- config.author %></a>
	<% } %>

	<% if (theme.busuanzi){ %>
		|
		<span id="busuanzi_container_site_pv">
			pv
			<span id="busuanzi_value_site_pv"></span>
		</span>
		|
		<span id="busuanzi_container_site_uv">
			uv
			<span id="busuanzi_value_site_uv"></span>
		</span>
	<% } %>
	<br>
	Theme <a href="//github.com/sisyphus1212" target="_blank">Tree</a>
	by <a href="//space.bilibili.com/228776952" target="_blank">liaocj</a>
	Powered by <a href="//hexo.io" target="_blank">Hexo</a>
	</p>
</div>

<% if (theme.siteStartYear == undefined) { %>
<script type="text/javascript">
	document.getElementById('footerYear-start').innerHTML = new Date().getFullYear() + '';
</script>
<% } %>
<script type="text/javascript">
	document.getElementById('footerYear-end').innerHTML = new Date().getFullYear() + '';
</script>
<% if (config.mermaid && config.mermaid.enable) { %>
    <script src='https://unpkg.com/mermaid@<%= config.mermaid.version %>/dist/mermaid.min.js'></script>
    <script>
      if (window.mermaid) {
        mermaid.initialize({theme: 'forest'});
      }
    </script>
<% } %>

<% if (theme.prism && theme.prism.enable) { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
        mermaid.initialize({
            theme: 'forest',
            callback: function() {
                // 选择所有 #article-content 下的 pre.mermaid 中的 SVG 并应用缩放功能
                d3.selectAll("#article-content > pre.mermaid svg").each(function() {
                    const svg = d3.select(this); // this 指向当前遍历到的 SVG 元素
                    const zoom = d3.zoom()
                        .on("zoom", function() {
                            svg.attr("transform", d3.event.transform); // 应用缩放变换
                        });
                    svg.call(zoom); // 为这个 SVG 启用缩放
                });
            }
        });
});
</script>
<% } %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.7.1/viz.js'></script>
<script>
  String.prototype.replaceAll = function(search, replacement) {
	var target = this;
	return target.split(search).join(replacement);
  };
  let vizObjects = document.querySelectorAll('.graphviz')
  for (let item of vizObjects) {
	let svg = undefined
	try {
	  svg = Viz(item.textContent.replaceAll('–', '--'), 'svg')
	} catch(e) {
	  svg = `<pre class="error">${e}</pre>`
	}
	item.outerHTML = svg
  }
</script>
<!-- D3.js -->
<script src="https://d3js.org/d3.v6.min.js"></script>

<script>
(function(d3) {
    function initializeZoom(d3, selector) {
        const svgElement = document.querySelector(selector);
        if (!svgElement) {
            console.error('SVG element not found for the provided selector:', selector);
            return;
        }

        const zoomBehavior = d3.zoom()
            .on('zoom', (event) => {
                d3.select(svgElement).select('g').attr("transform", event.transform);
            });

        d3.select(svgElement).call(zoomBehavior).on("dblclick.zoom", null);
        console.log('Zoom initialized on:', selector);
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Polling for SVG rendering
        const checkRender = setInterval(() => {
            const svgElement = document.querySelector('#graph0');
            if (svgElement) {
                clearInterval(checkRender);
                initializeZoom(d3, '#graph0');
            }
        }, 300); // Check every 300 milliseconds
    });
})(window.d3);
</script>
